@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#video-bg {
	position: relative;
	width: auto;
	min-width: 100%;
	height: 100%;
	object-fit:cover;
	/* background: transparent url(video-bg.jpg) no-repeat; */
	background-size: cover;
}

video {
	display: block;
}

.isScrolledNav {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (6*300px)));
  }
}

@media only screen and (max-width: 768px) {
  .container .carousel-items {
    animation: carouselAnim 60s infinite alternate linear;
  }
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (5*300px)));
    }
  }
}

.carousel-focus:hover {
  transition: all 0.8s;
  transform: scale(1.1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  /* color: #ffffff; */
}
.hover-underline-animation_nav {
  display: inline-block;
  position: relative;
  /* color: #ffffff; */
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: #000000; */
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation_nav:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation_nav:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-carousel {
  @apply absolute bg-white rounded-full flex items-center justify-center h-9 w-9 md:w-10 md:h-10 lg:w-11 lg:h-11 z-40 shadow-lg;
}

.btn-carousel-para {
  @apply absolute top-1/2 -translate-y-1/2  rounded-full flex items-center justify-center h-9 w-9 md:w-10 md:h-10 lg:w-11 lg:h-11 z-40;
}

.btn-carousel-para.prev-browse-btn {
  @apply -left-1;
}
.btn-carousel-para.next-browse-btn {
  @apply -right-0;
}
.btn-carousel-para.carousel1 svg {
  @apply h-4 w-4 lg:h-6 lg:w-6;
}

.btn-carousel-para.prev-browse-btn.carousel1 {
  @apply -left-7 md:-left-9;
}
.btn-carousel-para.next-browse-btn.carousel1 {
  @apply -right-7 md:-right-9;
}

.btn-carousel-item {
  @apply flex-1;
}

.btn-carousel-4 {
  @apply btn-carousel top-24;
}
.btn-carousel-3 {
  @apply btn-carousel top-1/2 -translate-y-1/2;
}
.btn-carousel-4.prev-browse-btn {
  @apply left-3 md:-left-10;
}
.btn-carousel-4.next-browse-btn {
  @apply right-3 md:-right-10;
}

.btn-carousel-3.next-browse-btn {
  @apply -right-2 md:-right-8;
}
.btn-carousel-3.prev-browse-btn {
  @apply -left-2 md:-left-8;
}

.btn-carousel.swiper-button-disabled,
.btn-carousel.swiper-button-disabled {
  @apply bg-gray-400/30 text-primary-900/60 shadow-xl md:shadow-sm md:bg-white/50;
}

.swiper-pagination-bullet-active-rasta {
  @apply !bg-primary-700 !opacity-100;
}
.swiper-pagination-bullet-rasta2 {
  @apply !bg-white/40 h-2 w-2 md:h-3 md:w-3 lg:h-4 lg:w-4 opacity-70 rounded-full;
}
.swiper-pagination-bullet-active-rasta2 {
  @apply !bg-white !opacity-100;
}

.c1.swiper-slide-active {
  @apply !flex-1 !w-[300px] xl:!w-[700px] lg:!w-[500px] mx-1 xl:mx-3;
}
.c1.swiper-slide-prev,
.c1.swiper-slide-next {
  @apply !flex-1 !w-[200px] xl:!w-[500px] lg:!w-[300px];
}
